/* Shared design*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.text-color {
    color: rgba(137, 135, 161, 1);

}


.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.red_text {
    color: rgba(233, 90, 8, 1);
}

.body_text_color {
    color: rgba(0, 0, 0, 0.5);
    ;
}

.btn {
    background-color: rgba(233, 90, 8, 1);
    font-weight: 500;
    padding: 0.8rem;
    width: 100%;
    border: none;
    color: rgba(255, 255, 255, 1);

}

/*---header---*/
.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 140px 120px 140px;

}

.nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav ul {
    list-style: none;


}

.nav ul a {
    text-decoration: none;
    font-size: 1.2rem;

}

.cart-button {
    display: flex;
    gap: 0.15rem;
}

.home {
    font-weight: 600;
    color: rgba(37, 36, 50, 1);
}

#cart {
    color: rgba(0, 0, 0, 1);
}

/*---Banner section---*/
h4 {
    font-size: 3rem;
    font-weight: bold;
}

.banner {
    display: flex;
    margin: 100px 140px;
}

.bannar_pic img {
    width: 570px;
    height: 355px;
}

/*Cart section*/

h4 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0%;
}

.cart_section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1140px;
    height: 1187px;

}

.Cart_headline {

    align-items: center;


}



.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 30px;

}

.cart_item {
    width: 270px;
    height: 484px;

}

.cart_item img {
    width: 270px;
    height: 322px;
}

.card-text {
    text-align: center;
    font-size: 1.4rem;
}

/*Plant_lover*/


.Plant_lover {
    display: flex;
    margin: 100px 140px;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 10px;
    width: 1140px;
    height: 650px;
}


h3 {
    font-size: 3.13rem;
    font-weight: bold;
}

.plant_lover_text {
    margin-top: 70px;
    width: 570px;
    height: auto;
}

.plant_lover_text ul li {
    margin-top: 10px;
}

.plant_lover_img img {
    margin-top: 20px;
    width: 576px;
    height: 596px;
}

.badge-div {
    width: 286px;
    height: 286px;
}

#badge {
    width: 286px;
    height: 286px;
    transform: translate(380px, -780px);
}



/*---deals_section--*/
.deals_section{
    margin: 100px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border:2px solid black,
}


h4{
    text-align: center;
}

.deals-img {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 15px;
}

.sm_pic img {
    width: 100%;
    height: auto; 
    border-radius: 5px;
    margin-top: 0px;

    
}

.lg_pic img {
    width: 100%;
    height: auto; 
    border-radius: 20px;
    margin-top:10px;
    
}

.discount , .plant-name{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
   
}
.discount1 , .plant-name1{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
.deal-overlay{
     transform: translate(10px ,-110px);

}

.deal-overlay a{
    font-size: 1.5rem;
    color: white;
}

.deal-overlay1{
     transform: translate(10px ,-250px);

}

.deal-overlay1 a{
    font-size: 2.5rem;
    color: white;
}





@media screen and (max-width:576px) {
    .header {
        margin: 0 auto;
    }

    .nav ul li:not(:last-child) {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        margin: 0 auto;
        gap: 20px;
    }

    .bannar_pic img {
        height: 100%;
        width: 100%;
        

    }

    .banner_text {
        width: 100%;
        height: 100%;


    }


    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 15px;
        margin: 0 auto;

    }

    .cart_section {
        width: 100%;
        margin: 10px auto;

    }

    .cart_item{
        width: 250px;
        height: auto;
        padding: 5px;

    }

    .cart_item img{
        width: 100%;
        height: auto;
        margin-top: 20px;

    }
   

    .btn {
        width: 100%;
    }

    .Plant_lover {
        flex-direction: column; /* Stack the elements vertically */
        margin: 900px 10px 10px 10px;
        align-items: center;
        width: 100%;
        height: auto;
    }

    h3 {
        font-size: 2rem; 
        text-align: center; 
    }

    .plant_lover_text {
        width: 100%; 
        height: auto; 
        margin: 0px;
    }

    .plant_lover_img img {
        width: 100%; 
        height: auto;
        margin-top: 20px;
    }

    #badge {
        display: none; 
    }

   .deals_section{
    width: 100%;
    height: auto;
    margin: 0px auto;
   }
    .deals-img {
        grid-template-columns: 1fr; 
    }

    .sm_pic img {
        width: 100%; 
        height: auto;
    }

    .lg_pic img {
        width: 100%; 
        height: auto;
        margin-top: 10px;
    }

}